Map
<!-- Portfolio Grid Section -->
<section class="portfolio">
    <div class="row">
        {% for item in site.portfolio %}
        <div class="col-sm-4 col-xs-4 portfolio-item">
            <a href="{{ site.baseurl }}{{ item.url }}" class="portfolio-link" data-keyboard="true">
                <div class="caption" title="{{ item.title }}">
                    <div class="caption-content">
                        <i class="fa fa-search-plus fa-3x"></i>
                    </div>
                </div>
                <img src="{{ site.baseurl }}/{{ item.img }}" class="" alt="">
            </a>
        </div>
        {% endfor %}
    </div>
</section>

<!-- Disqus -->
{% if site.theme_settings.disqus_shortname %}
<!-- <div class="comments"> -->
  {% include disqus.html %}
<!-- </div> -->
{% endif %}