* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

figure {
    margin: 0;
}

// For correct line number width in Github Gists
.gist table tbody tr td {
    box-sizing: content-box;
}

html {
    background: $background-color;
}

// Typography
::selection {
    background: $selection-color;
}

::-moz-selection {
    background: $selection-color;
}

body {
    color: $text-color;
    font-family: $font-family-main;
    font-size: $font-size;
    word-wrap: break-word;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $font-family-headings;
    line-height: 1.3;
    margin: 0.67em 0;
    a {
        color: $text-color;
    }
}

h1 {
    font-size: 1.6em;
}

h2 {
    font-size: 1.4em;
}

h3 {
    font-size: 1.2em;
}

h4 {
    font-size: 0.9em;
}

blockquote {
    border-left: 2px solid darken($blockquote-color, 20%);
    margin: 1em 1em;
    padding: 0.75em 1em;
    background-color: $blockquote-color;
    box-shadow: 0 2px 2px $border-color;
}

blockquote p:last-child,
footer p:last-child {
    margin-bottom: 0;
}

table {
    table-layout: fixed;
    width: 100%;
    word-wrap: break-word;
    overflow-x: scroll;
    display: inline-block;
}

td,
th {
    padding: 0.5em 1em;
    border: 1px solid $border-color;
    text-align: left;
}

table,
dl,
kbd,
samp {
    margin: 1em 0;
}

dt {
    font-weight: bold;
}

dd {
    margin-left: 2em;
}

p,
ol,
ul,
dl,
.math-display {
    line-height: 1.5;
    margin-bottom: 1em;
}

// KaTeX math display
.math-display {
    display: inline-block;
    width: 100%;
}

// Lists within lists
li {
    p {
        display: inline;
    }
    & > ul,
    & > ol {
        margin-bottom: 0;
        margin-left: 1em;
    }
}

ol,
ul {
    list-style-position: outside;
    margin-left: 1em;
}

hr {
    border: 0;
    border-top: 1px solid $border-color;
    border-bottom: 1px solid #fff;
    margin: 1em 0;
}

a {
    color: $link-color;
    text-decoration: none;
}

iframe,
img,
embed,
object,
video {
    max-width: 100%;
    padding: 0 10%;
}

img[align=left] {
    margin-right: 3%;
}

img[align=right] {
    margin-left: 3%;
}

/* ---- Responsive ---- */

@media screen and (max-width: $break) {
    h1 {
        font-size: 1.6em;
    }
    h2 {
        font-size: 1.3em;
    }
    h3 {
        font-size: 1em;
    }
    h4 {
        font-size: 0.7em;
    }
    p,
    li {
        font-size: 1em;
    }
}
